.first{
    height: 200px;
    background-color: red;
    float: left;
}

.second{
    height: 200px;
    background-color:yellow;
    float: left;
}

.third{
    height: 200px;
    background-color:green;
    float: left;
}

.four{
    height: 200px;
    background-color:blue;
    float: left;
}

.five{
    height: 200px;
    background-color:orange;
    float: left;
}

.six{
    height: 200px;
    background-color: purple;
    float: left;
}

.MyFont{
    font-size:50px;
}