.imageContainer{
    background: url('https://i.postimg.cc/76kStDSv/food-wallpaper.png');
    height:500px;
    width:100%;
    border-style: solid ;
    border-color: white;
    background-repeat: no-repeat;
    background-size: cover;

}
body{
    margin: auto;
}
#logo{
    text-align: center;
    color:red;
    font-weight: bold;
    font-size: 110px;
    background-color:white;
    height:150px;
    width:150px;
    margin:auto;
    border-radius:70%;
    margin-top:3%;
    margin-bottom:1.5%;
}

.heading{
    text-align:center;
    color:white;
    font-size:40px;

}

.locationSelector{
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.locationDropDown{
    width:250px;
    height:50px;
    border-radius: 0%;
    font-size:18px;
    border: none;
}


.restaurantInput{
    border: none;
    width:400px;
    height:50px;
    border-radius:0%;
    font-size:18px;
    margin-left:10px
}

.QuickSearchContainer{
    margin-left:110px;
    margin-top:170px;
}

.QuickSearchHeading{
    text-align:left;
    color: #192f60;
    font-size:30px;
    line-height:5px;
    font-weight:bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.QuickSearchSubHeading{
    text-align:left;
    color: gray;
    line-height:1em;
    letter-spacing:normal;
    font-size:18px;
    font-weight:normal;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


.tileContainer{
    box-shadow:0 3px 6px black;
    margin-right:140px;
    margin-bottom:40px;
    width:370px;
    height:165px;
    background-color: white;
    display:inline-block;
    margin-top:30px;    
}

.tileComponent1{
    width:50%;
    float:left;
}
.tileComponent2{
    width:50%;
    float:left;
    margin-top:25px;
}

.componentHeading{
    text-align:left;
    color:#192f60;
    font-size:21px;
    font-weight: bold;

}

.componentSubHeading{
    text-align:left;
    color:gray;
    font-size:17px;
}